/* Css phần chung giống nhau cho cả trang web */

/* Khoảng cách mặc định của trang web bằng 0 */
*{
    margin: 0;
    padding: 0;
}
/* Giúp nội dung canh giữa */
.txtCenter{
    text-align: center;
}
/* Đưa font chữ bên ngoài vào trang web */
@font-face {
    font-family: GreatVibes-Regular;
    src: url(../fonts/Great_Vibes/GreatVibes-Regular.ttf);
}


/* Css riêng cho các thành phần trang web */
#main #header .slogan{
    /* Màu nền */
    background-color: #ec1d26;
    /* Chiều cao background */
    height: 100px;
    /* Giúp chữ nằm ở giữa background */
    line-height: 100px;
    /* Màu chữ */
    color: #fff;
    /* Font chữ */
    font-family: GreatVibes-Regular;
    /* Giúp tăng khoảng cách giữa các từ trong đoạn văn */
    word-spacing: 15px;
}

/* Css cho menu */
#main #header u{ 
    color: #d8ff00;
    font-family: initial;
    word-spacing: 0;
}
#main #header ul{
    /* Loại bỏ chấm tròn mặc định thẻ ul */
    list-style-type: none;
    background-color: #cccccc57;
    /* Chiều cao background menu */
    height: 50px;
}

#main #header li{
    /* Giúp các thẻ li nằm trên một dòng */
    display: inline;
    /* Kích thước chữ */
    font-size: 20px;
    /* Khoảng các giữa các thẻ li */
    padding: 0 40px;
    line-height: 50px;
}

#main #header li a{
    /* Loại bỏ đi dấu gạch chân mặc định của thẻ a */
    text-decoration: none;
    color: #ec1d26;
}

/* Css phần nội dung body */

#main #bodyContent{
    /* Chiều ngang nội dung phần body */
    width: 800px;
    /* 2 thuộc tính bên dưới giúp nội dung phần body được canh giữa trang web */
    margin-left: auto;
    margin-right: auto;
    /* Khoảng cách giữa menu và nội dung bodyContent trên dưới 30px trái phải 0 */
    padding: 30px 0;
}

#main .header{
    /* Nội dung header nằm bên trái */
    text-align: left;
}
#main .content{
    padding: 15px 0;
}

#main .subHeader{
    padding: 15px 0;
    color: blue;
}

#main .subContent{
    color: #7f817f;
    font-family: system-ui;
}